body, html{
    background-color: #191970;
}

.navbarMain{
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbarMain > .navbarItem{
    color: white;
    font-size: 30px;
    padding: 40px;
    text-decoration-style: dashed;
}

p{
    color: white;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
}

.newContainer{
    display: flex;
    justify-content: space-between;
}

.newColumn3boxes{
    width: 33.3333333%;
    word-wrap: break-word;
}

.newColumn2boxes{
    width: 50%;
    word-wrap: break-word;
}

.newColumn1box{
    width: 100%;
    word-wrap: break-word;
}

.subTitle{
    margin-top: 30px;
}

#logo{
    width: 250px;
    height: auto;
}

.subText{
    padding: 30px;
}
