@media only screen and (max-width: 950px){
    .socialMediaHolder{
        flex-direction: column;
        padding: 20px 0;
    }
    
    .socialMediaHolder > .socialMedia{
        padding: 20px 0;
        text-decoration-style: dashed;
        font-size: calc(1em + 1vmin);
        width: 100%
    }
}