.container{
    display: block;
    height: 85%;
}

.leftContainer{
    float: left;
    width: 50%;
    justify-content: center;
}

.rightContainer{
    float: right;
    width: 50%;
    justify-content: center;
}

.containerWhole{
    height: 100%;
    overflow: auto;
}

.topContainerWhole, .bottomContainerWhole{
    height: 50%;
}

.heightThirtyFive{
    height: 35%;
}

.heightSixtyFive{
    height: 65%;
}

.heightTwenty{
    height: 20%;
}

.heightEighty{
    height: 80%;
}