.container{
    display: block;
    padding-top: 100px;
}

.leftContainer{
    float: left;
    width: 50%;
    justify-content: center;
}

.rightContainer{
    float: right;
    width: 50%;
    justify-content: center;
}