    /*=====================================================================
    DESKTOP                                       START
    ===================================================================== */
@media only screen and (min-width: 951px){
    #navbar > span {
        display: none;
    }
    
    #navbar > #menu {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        margin: 0 100px;
        width: 100%;
    }
    
    #navbar > #menu > li > .menuitems {
        height: 100%;
        opacity: 1;
    }
    
    #section1 > .title{
        font-size: calc(8em + 1vmin);
    }
    
    #section1 > .subtitle {
        font-size: calc(2em + 1vmin);
    }
    
    .subHeading > .subTitle2{
        font-size: calc(6em + 1vmin);
    }
    
    .center {
        margin: auto;
        width: 90%;
        text-align: center;
    }
    
    .center > .subDescription{
        font-size: calc(0.75em + 1vmin);
    }
    
    #aboutMeHeading{
        font-size: calc(4em + 1vmin);
        padding: 5px;
/*        height: 0%;*/
    }
    
    .subInformation{
        font-size: calc(0.4em + 1vmin);
    }
    
    .leftContainer{
        width: 50% !important;
        height: 100%;
    }
    
    .rightContainer{
        width: 50% !important;
    }
    
    .leftContainer > img{
/*
        width: 50% !important;
        height: 100% !important;
*/
    }
    
    .leftContainer > #birminghamCityLogo{
        width: auto !important;
    }
    
    .rightContainer > .subInformation{
        padding: 0px;
    }
    
    .subResponsiveFont{
        font-size: calc(0.90em + 1vmin);
    }
    
    .container{
        display: block !important;
        padding-top: 100px !important;
    }
    
    .hobbiesSlides > .subInformation{
        font-size: calc(0.80em + 1vmin);
        font-style: italic;
    }
    
    .hobbiesSlides > img{
        width: 30% !important;
        height: 100% !important;
    }
}
    /*=====================================================================
    DESKTOP                                       END
    ===================================================================== */


    /*=====================================================================
    TABLET                                       START
    =====================================================================*/
@media only screen and (max-width: 950px) and (orientation:portrait){
    .navigation.sticky {
        position: sticky;
    }
    
    .socialMediaHolder{
        flex-direction: column;
        padding: 20px 0;
    }
    
    .socialMediaHolder > .socialMedia{
        padding: 20px 0;
        text-decoration-style: dashed;
        font-size: calc(1em + 1vmin);
        width: 100%
    }
    
    .center {
        margin: auto;
        width: 75%;
        text-align: center;
    }
    
    .buttonWrapper{
        margin-bottom: 0px;
    }
    
    #section1{
        padding-top: 25%;
    }
    
    /* SLIDESHOW */
    .slide{
        flex-direction: column;
    }
    
}
    /*=====================================================================
    TABLET PORTRAIT                                       END
    =====================================================================*/

    /*=====================================================================
    TABLET LANDSCAPE                                       START
    =====================================================================*/
@media only screen and (max-width: 950px) and (orientation:landscape){
    /*  */
    .navigation.sticky {
        position: sticky;
    }
    
    .socialMediaHolder{
        flex-direction: row;
        padding: 20px 0;
    }
    
    .socialMediaHolder > .socialMedia{
        padding: 20px 0;
        text-decoration-style: dashed;
        font-size: calc(1em + 1vmin);
        width: 100%
    }
    
    .buttonWrapper{
        margin-bottom: 0px;
    }
    
    #section1{
        padding-top: 25%;
    }
    
    /* SLIDESHOW */
    .slide{
        flex-direction: column;
    }
    
}

    /*=====================================================================
    TABLET LANDSCAPE                                       END
    =====================================================================*/

    /*=====================================================================
    MOBILE PORTRAIT                                       START
    =====================================================================*/
@media only screen and (min-width: 601px) and (max-width: 950px){
    
    #section1 > .title{
        font-size: calc(5.5em + 1vmin);
    }
    
    #section1 > .subtitle {
        font-size: calc(1.375em + 1vmin); 
    }
    
    .subHeading > .subTitle2{
        font-size: calc(4em + 1vmin);
    }
    
    .planInfoDiv {
        padding-right: 10%;
    }
    
    .centeredSubHeadngFont {
        font-size: calc(5.5em + 1vmin);
    }
    
    .center{ 
        overflow-x: auto;
    }
    
    .center > .subDescription{
        font-size: calc(0.60em + 1vmin);
    }
    
    .rightContainer > .subDescription{
        font-size: calc(0.70em + 1vmin);
    }
    
    #section1{
        padding-top: 35%;
    }
    
    .subHeadingSubPage{
        font-size: calc(3em + 1vmin);
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    } 
    
    .h3subHeadingSubPage{
        font-size: calc(1.75em + 1vmin);
    }
    
    .leftContainer > img{
        width: 30% !important;
        height: 100% !important;
    }
    
    .rightContainer, .topContainer > .subInformation{
        padding: 5px !important;
    }
    
    .subResponsiveFont{
        font-size: calc(0.70em + 1vmin);
        font-style: italic;
    }
    
    .leftContainer{
        width: 100% !important;
        height: 100%;
    }
    
    .educationLeftContainer{
        height: auto;
    }
    
    .rightContainer{
        width: 100% !important;
    }
    
    .skillsContainer, .knowledgeContainer{
        width: 50% !important;
    }
    
    .container{
        display: inline-grid !important;
        padding-top: 5px !important;
    }
    
    .hobbiesSlides > .subInformation{
        font-size: calc(0.70em + 1vmin);
        font-style: italic;
    }
    
    .hobbiesSlides > img{
        width: 30% !important;
        height: 100% !important;
    }
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         START
    =====================================================================*/
    .header-wrapper{
        height: 50% !important;
    }
    
    .header-wrapper > .sectionTitle{
        font-size: calc(5em + 1vmin);
        padding-top: 3%;
    }
    
    .header-wrapper > .sectionSubinformation{
        font-size: calc(1em + 1vmin) !important;
    }
    
    .parralex > .projects_wrapper{
        height: 50%;
    }
    
    .projects{
        height: 0% !important;
    }
    
    .projects > .project{
        width: 75vw !important;
        height: 50vw !important;
        margin-right: 10vw !important;
    }
    
    .project > .project_title{
        font-size: 155% !important;
    }
    
    .project > .project_subtitle{
        font-size: 115% !important;
    }
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         END
    =====================================================================*/
    
}

@media only screen and (max-width: 950px) and (min-width: 601px) and (orientation: landscape){
    .container{
        height: 100%;
        display: flex !important;
        padding-top: 5px !important;
    }
    
    .subInformation {
        padding-top: 0px; 
        padding-left: 0px; 
        padding-right: 0px; 
    }
    
    .subResponsiveFont {
        font-weight: bold;
    }
    
    .parralex{
        overflow: auto;
    }
    
    .subHeadingSubPage {
        font-size: calc(2em + 1vmin);
    }
    
    
    .centeredSubHeadngFont {
        font-size: calc(6em + 1vmin);
    }
    
    .centeredSubHeadngFont2 {
        font-size: calc(3em + 1vmin);
    }   
    
    .planInfoDiv{
        width: 80%;
        padding-right: 10%;
        font-size: calc(0.65em + 1vmin);
    }
    
    .h3subHeadingSubPage{
        font-size: calc(1.25em + 1vmin);
    }
    
    .leftContainerImage{
        width: 30% !important;
    }
    
    .leftContainer > img {
        width: auto !important;
        height: 50% !important;
    }
    
    .leftContainer > #birminghamCityLogo{
        height: 100% !important;
    }
    
    .rightContainerInformation{
        width: 70% !important;
    }
    
    .educationList, .knowledgeList, .skillsList{
        list-style-position: outside;
    }
}

@media only screen and (max-width: 600px) {
    #section1 > .title{
        font-size: calc(3em + 1vmin);
    }
    
    #section1 > .subtitle {
        font-size: calc(0.75em + 1vmin);
    }
    
    .centeredSubHeadingInDIV > .centeredSubHeadngFont{
        font-size: calc(3.5em + 1vmin);
    }
    
    .centeredSubHeadingInDIV > .centeredSubHeadingFont2{
        font-size: calc(0.75em + 1vmin);
        letter-spacing: 5px;
    }
    
    .subHeading > .subTitle2{
        font-size: calc(3em + 1vmin);
    }
    
    .center{
        width: 95%;
        overflow-x: auto;
    }
    
    .center > .subDescription{
        font-size: calc(0.60em + 1vmin);
    }
    
    .rightContainer > .subDescription{
        font-size: calc(0.70em + 1vmin);
    }
    
    .buttonWrapper > .button{
        font-size: calc(1em + 1vmin);
    }
    
    .workSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .workSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .planSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .planSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    /*ABOUT ME CSS*/
    
    .subHeadingSubPage{
        font-size: calc(2em + 1vmin);
        padding-top: 5% !important;
        padding-bottom: 5% !important;
    }
    
    .h3subHeadingSubPage{
        font-size: calc(1.25em + 1vmin);
    }
    
    .leftContainer > img{
        width: 30% !important;
        height: 100% !important;
    }
    
/*
    .rightContainer > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
        padding: 0px !important;
    }
*/
    
    .topContainerWhole{
        height: 40%;
    }
    
    .bottomContainerWhole{
        height: 60%;
    }
    
    .topContainerWhole > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .leftContainer{
        width: 100% !important;
    }
    
    .rightContainer{
        width: 100% !important;
    }

    .container{
        display: inline-grid !important;
        padding-top: 0px !important;
    }
    
    .hobbiesSlides > .subInformation{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .hobbiesSlides > img{
        width: 30% !important;
        height: 100% !important;
    }
    
    #aboutMeHeading{
        height: 15%;
    }
    
    .planSubHeadingDiv_whereIgo, .planSubHeadingDiv_Development,
    .planSubHeadingDiv_Creativity, .planSubHeadingDiv_Tools{
        padding-left: 5%;
    }
    
/*
    .planInfoDiv{
        width: 90%;
        padding: 5%;
    }
*/
    .planInfoDiv{
        padding: 0%;
        
    }
    
    .button{
        padding: 2%;
        width: 70%;
    }
    
    .aboutMeContainer{
        height: 100%;
        overflow: auto;
    }
    .subInformation{
        font-size: calc(0.60em + 1vmin);
    }
    
    .skillsKnowledgeTopContainer{
        height: 40%;
    }
    
    .skillsKnowledgeBottomContainer{
        height: 60%;
    }
    
    .subResponsiveFont{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
        font-weight: bold;
    }
    
    .skillsList, .knowledgeList, .educationList {
        list-style-position: outside;
    }
    
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         START
    =====================================================================*/
    .parralex > .header-wrapper{
        height: 50%;
    }
    
    .header-wrapper > .sectionTitle{
        font-size: calc(3em + 1vmin);
        padding-top: 3%;
    }
    
    .header-wrapper > .sectionSubinformation{
        font-size: calc(0.70em + 1vmin) !important;
    }
    
    .parralex > .projects_wrapper{
        height: 50%;
    }
    
    .projects{
        height: 0% !important;
    }
    
    .projects > .project{
        width: 75vw !important;
        height: 50vw !important;
        margin-right: 10vw !important;
    }
    
    .project > .project_title{
        font-size: 125% !important;
    }
    
    .project > .project_subtitle{
        font-size: 90% !important;
    }
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         END
    =====================================================================*/
}

@media only screen and (max-width: 700px) and (orientation: landscape){
    /*=====================================================================
    INDEX CSS ADJUSTMENTS                         START
    =====================================================================*/
    .socialMediaHolder{
        flex-direction: row;
    }
    
    .center{
        width: 75%;
    }
    .buttonWrapper > .button{
        font-size: calc(1em + 1vmin);
        padding: 10px;
    }
    
    .workSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .workSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .planSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .planSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .slide{
        flex-direction: row;
    }
    
    .subHeading > .subTitle2 {
    font-size: calc(3em + 1vmin);
    }
    
    .subHeading{
        padding-top: 0px;
    }
    
    #section1{
        padding-top: 10%;
        height: auto;
    }
    
    .buttonWrapper{
        margin-bottom: 0px;
    }
    /*-====================================================================
    INDEX CSS ADJUSTMENTS                         END
    =====================================================================*/
    
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         START
    =====================================================================*/
    .header-wrapper {
        height: 100%;
        width: 50%;
        float: left;
    }
    
    .header-wrapper > .sectionTitle {
        font-size: calc(1.5em + 1vmin);
        padding-top: 3%;
    }
    
    .header-wrapper > .sectionSubinformation {
        font-size: calc(0.7em + 1vmin) !important;
    }
    
    .parralex > .projects_wrapper {
        height: 95%;
        width: 50%;
        float: right;
        /* padding: 5%; */
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    .projects {
        height: 100%;
        display: inline-block;
    }
        
}

@media only screen and (min-width: 601px) and (max-width: 950px){
}