    /*=====================================================================
    DESKTOP                                       START
    ===================================================================== */
@media only screen and (min-width: 951px){
    #navbar > span {
        display: none;
    }
    
    #navbar > #menu {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        margin: 0 100px;
        width: 100%;
    }
    
    #navbar > #menu > li > .menuitems {
        height: 100%;
        opacity: 1;
    }
    
    #section1 > .title{
        font-size: calc(8em + 1vmin);
    }
    
    #section1 > .subtitle {
        font-size: calc(2em + 1vmin);
    }
    
    .subHeading > .subTitle2{
        font-size: calc(6em + 1vmin);
    }
    
    .center > .subDescription{
        font-size: calc(0.75em + 1vmin);
    }
    
    .subHeadingSubPage{
        font-size: calc(4em + 1vmin);
        padding: 5px;
    }
    
    .leftContainer{
        width: 50% !important;
    }
    
    .rightContainer{
        width: 50% !important;
    }
    
    .leftContainer > img{
        width: 50% !important;
        height: 100% !important;
    }
    
    .rightContainer > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
        padding: 0px;
    }
    
    .container{
        display: block !important;
        padding-top: 100px !important;
    }
    
    .hobbiesSlides > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
    }
    
    .hobbiesSlides > img{
        width: 30% !important;
        height: 100% !important;
    }
}
    /*=====================================================================
    DESKTOP                                       END
    ===================================================================== */


    /*=====================================================================
    TABLET                                       START
    =====================================================================*/
@media only screen and (max-width: 950px) and (orientation:portrait){
    .navigation.sticky {
        position: sticky;
    }
    
    .socialMediaHolder{
        flex-direction: column;
        padding: 20px 0;
    }
    
    .socialMediaHolder > .socialMedia{
        padding: 20px 0;
        text-decoration-style: dashed;
        font-size: calc(1em + 1vmin);
        width: 100%
    }
    
    .buttonWrapper{
        margin-bottom: 0px;
    }
    
    #section1{
        padding-top: 25%;
    }
    
    /* SLIDESHOW */
    .slide{
        flex-direction: column;
    }
    
}
    /*=====================================================================
    TABLET PORTRAIT                                       END
    =====================================================================*/

    /*=====================================================================
    TABLET LANDSCAPE                                       START
    =====================================================================*/
@media only screen and (max-width: 950px) and (orientation:landscape){
    
    .navigation.sticky {
        position: sticky;
    }
    
    .socialMediaHolder{
        flex-direction: row;
        padding: 20px 0;
    }
    
    .socialMediaHolder > .socialMedia{
        padding: 20px 0;
        text-decoration-style: dashed;
        font-size: calc(1em + 1vmin);
        width: 100%
    }
    
    .buttonWrapper{
        margin-bottom: 0px;
    }
    
    #section1{
        padding-top: 25%;
    }
    
    /* SLIDESHOW */
    .slide{
        flex-direction: column;
    }
    
}

    /*=====================================================================
    TABLET LANDSCAPE                                       END
    =====================================================================*/

    /*=====================================================================
    MOBILE PORTRAIT                                       START
    =====================================================================*/
@media only screen and (min-width: 601px) and (max-width: 950px){
    #section1 > .title{
        font-size: calc(5.5em + 1vmin);
    }
    
    #section1 > .subtitle {
        font-size: calc(1.375em + 1vmin); 
    }
    
    .subHeading > .subTitle2{
        font-size: calc(4em + 1vmin);
    }
    
    .center > .subDescription{
        font-size: calc(0.60em + 1vmin);
    }
    
    #section1{
        padding-top: 35%;
    }
    
    .subHeadingSubPage{
        font-size: calc(3em + 1vmin);
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    
    .leftContainer > img{
        width: 30% !important;
        height: 100% !important;
    }
    
    .rightContainer > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
        padding: 5px !important;
    }
    
    .leftContainer{
        width: 100% !important;
    }
    
    .rightContainer{
        width: 100% !important;
    }
    
    .container{
        display: inline-grid !important;
        padding-top: 5px !important;
    }
    
    .hobbiesSlides > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
    }
    
    .hobbiesSlides > img{
        width: 30% !important;
        height: 100% !important;
    }
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         START
    =====================================================================*/
    .header-wrapper{
        height: 50% !important;
    }
    
    .header-wrapper > .sectionTitle{
        font-size: calc(5em + 1vmin);
        padding-top: 3%;
    }
    
    .header-wrapper > .sectionSubinformation{
        font-size: calc(1em + 1vmin) !important;
    }
    
    .parralex > .projects_wrapper{
        height: 50%;
    }
    
    .projects{
        height: 0% !important;
    }
    
    .projects > .project{
        width: 75vw !important;
        height: 50vw !important;
        margin-right: 10vw !important;
    }
    
    .project > .project_title{
        font-size: 155% !important;
    }
    
    .project > .project_subtitle{
        font-size: 115% !important;
    }
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         END
    =====================================================================*/
    
}

@media only screen and (max-width: 600px) {
    #section1 > .title{
        font-size: calc(3em + 1vmin);
    }
    
    #section1 > .subtitle {
        font-size: calc(0.75em + 1vmin);
    }
    
    .subHeading > .subTitle2{
        font-size: calc(3em + 1vmin);
    }
    
    .center{
        width: 75%;
    }
    
    .center > .subDescription{
        font-size: calc(0.80em + 1vmin);
    }
    
    .buttonWrapper > .button{
        font-size: calc(1em + 1vmin);
    }
    
    .workSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .workSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .planSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .planSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .subHeadingSubPage{
        font-size: calc(2em + 1vmin);
        padding-top: 5% !important;
        padding-bottom: 5% !important;
    }
    
    .leftContainer > img{
        width: 30% !important;
        height: 100% !important;
    }
    
    .rightContainer > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
        padding: 0px !important;
    }
    
    .leftContainer{
        width: 100% !important;
    }
    
    .rightContainer{
        width: 100% !important;
    }

    .container{
        display: inline-grid !important;
        padding-top: 0px !important;
    }
    
    .hobbiesSlides > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
    }
    
    .hobbiesSlides > img{
        width: 30% !important;
        height: 100% !important;
    }
    
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         START
    =====================================================================*/
    .parralex > .header-wrapper{
        height: 50%;
    }
    
    .header-wrapper > .sectionTitle{
        font-size: calc(3em + 1vmin);
        padding-top: 3%;
    }
    
    .header-wrapper > .sectionSubinformation{
        font-size: calc(0.75em + 1vmin) !important;
    }
    
    .parralex > .projects_wrapper{
        height: 50%;
    }
    
    .projects{
        height: 0% !important;
    }
    
    .projects > .project{
        width: 75vw !important;
        height: 50vw !important;
        margin-right: 10vw !important;
    }
    
    .project > .project_title{
        font-size: 125% !important;
    }
    
    .project > .project_subtitle{
        font-size: 90% !important;
    }
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         END
    =====================================================================*/
}

@media only screen and (max-width: 700px) and (orientation: landscape){
    /*=====================================================================
    INDEX CSS ADJUSTMENTS                         START
    =====================================================================*/
    .socialMediaHolder{
        flex-direction: row;
    }
    
    .center{
        width: 75%;
    }
    .buttonWrapper > .button{
        font-size: calc(1em + 1vmin);
        padding: 10px;
    }
    
    .workSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .workSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .planSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .planSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .slide{
        flex-direction: row;
    }
    
    .subHeading > .subTitle2 {
    font-size: calc(3em + 1vmin);
    }
    
    .subHeading{
        padding-top: 0px;
    }
    
    #section1{
        padding-top: 10%;
    }
    
    .buttonWrapper{
        margin-bottom: 0px;
    }
    /*-====================================================================
    INDEX CSS ADJUSTMENTS                         END
    =====================================================================*/
    
    /*=====================================================================
    WORK CSS ADJUSTMENTS                         START
    =====================================================================*/
    .header-wrapper {
        height: 100%;
        width: 50%;
        float: left;
    }
    
    .header-wrapper > .sectionTitle {
        font-size: calc(1.5em + 1vmin);
        padding-top: 3%;
    }
    
    .header-wrapper > .sectionSubinformation {
        font-size: calc(0.7em + 1vmin) !important;
    }
    
    .parralex > .projects_wrapper {
        height: 95%;
        width: 50%;
        float: right;
        /* padding: 5%; */
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    .projects {
        height: 100%;
        display: inline-block;
    }
        
}