@media only screen and (min-width: 951px){
    #navbar > span {
        display: none;
    }
    
    #navbar > #menu {
        display: flex;
        justify-content: space-evenly; //for now
        align-content: center;
        margin: 0 100px;
        width: 100%;
    }
    
    #navbar > #menu > li > .menuitems {
        height: 100%;
        opacity: 1;
    }
    
    #section1 > .title{
        font-size: calc(8em + 1vmin);
    }
    
    #section1 > .subtitle {
        font-size: calc(2em + 1vmin);
    }
    
    .subHeading > .subTitle2{
        font-size: calc(6em + 1vmin);
    }
    
    .center > .subDescription{
        font-size: calc(0.75em + 1vmin);
    }
    
    .subHeadingSubPage{
        font-size: calc(4em + 1vmin);
        padding: 5px;
    }
    
    .leftContainer{
        width: 50% !important;
    }
    
    .rightContainer{
        width: 50% !important;
    }
    
    .leftContainer > img{
        width: 50% !important;
        height: 100% !important;
    }
    
    .rightContainer > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
        padding: 0px;
    }
    
    .container{
        display: block !important;
        padding-top: 100px !important;
    }
    
    .hobbiesSlides > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
    }
    
    .hobbiesSlides > img{
        width: 30% !important;
        height: 100% !important;
    }
}

@media only screen and (max-width: 950px){
    
    .navigation.sticky {
        position: sticky !important;
    }
    
    .socialMediaHolder{
        flex-direction: column;
        padding: 20px 0;
    }
    
    .socialMediaHolder > .socialMedia{
        padding: 20px 0;
        text-decoration-style: dashed;
        font-size: calc(1em + 1vmin);
        width: 100%
    }
    
    /* SLIDESHOW */
    .slide{
        flex-direction: column;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 950px){
    #section1 > .title{
        font-size: calc(5.5em + 1vmin);
    }
    
    #section1 > .subtitle {
        font-size: calc(1.375em + 1vmin); //used to be 50px which is 1/4 of                                       //title 200px
    }
    
    .subHeading > .subTitle2{
        font-size: calc(4em + 1vmin);
    }
    
    .center > .subDescription{
        font-size: calc(0.60em + 1vmin);
    }
    
    .subHeadingSubPage{
        font-size: calc(3em + 1vmin);
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    
    .leftContainer > img{
        width: 30% !important;
        height: 100% !important;
    }
    
    .rightContainer > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
        padding: 5px !important;
    }
    
    .leftContainer{
        width: 100% !important;
    }
    
    .rightContainer{
        width: 100% !important;
    }
    
    .container{
        display: inline-grid !important;
        padding-top: 5px !important;
    }
    
    .hobbiesSlides > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
    }
    
    .hobbiesSlides > img{
        width: 30% !important;
        height: 100% !important;
    }
    
}

@media only screen and (max-width: 600px) {
    #section1 > .title{
        font-size: calc(3em + 1vmin);
    }
    
    #section1 > .subtitle {
        font-size: calc(0.75em + 1vmin);
    }
    
    .subHeading > .subTitle2{
        font-size: calc(3em + 1vmin);
    }
    
    .center > .subDescription{
        font-size: calc(0.60em + 1vmin);
    }
    
    .buttonWrapper > .button{
        font-size: calc(1em + 1vmin);
    }
    
    .workSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .workSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .planSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .planSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .subHeadingSubPage{
        font-size: calc(2em + 1vmin);
        padding-top: 5% !important;
        padding-bottom: 5% !important;
    }
    
    .leftContainer > img{
        width: 30% !important;
        height: 100% !important;
    }
    
    .rightContainer > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
        padding: 0px !important;
    }
    
    .leftContainer{
        width: 100% !important;
    }
    
    .rightContainer{
        width: 100% !important;
    }

    .container{
        display: inline-grid !important;
        padding-top: 0px !important;
    }
    
    .hobbiesSlides > .subInformation{
        font-size: calc(0.60em + 1vmin);
        font-style: italic;
    }
    
    .hobbiesSlides > img{
        width: 30% !important;
        height: 100% !important;
    }
}

@media only screen and (max-width: 700px) and (orientation: landscape){
    .socialMediaHolder{
        flex-direction: row;
    }
    
    .center{
        width: 75%;
    }
    .buttonWrapper > .button{
        font-size: calc(1em + 1vmin);
    }
    
    .workSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .workSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .planSlides > img{
        width: 175px;
        height: 175px;
    }
    
    .planSlides > p{
        font-size: calc(0.60em + 1vmin);
        color: white;
        font-style: italic;
    }
    
    .slide{
        flex-direction: row;
    }
    
    .subHeading > .subTitle2 {
    font-size: calc(3em + 1vmin);
    }
    
    .subHeading{
        padding-top: 0px;
    }
    
    #section1{
        padding-top: 10%;
    }
    
}