#socialMediaMenu{
    padding-top: 25px;
}

.socialMediaItem{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.socialMedia{
    text-decoration: none;
    color : white;
}

.title a{
    font-size: 9vw;
    color: white;
    text-decoration: none;
}

.title{
    padding-bottom: 25px;
}

.navContainer{
    object-fit: cover;
}