.subHeadingSubPage{
    padding-top: 70px;
    padding-bottom: 70px;
}

#aboutMeHeading{
    width: 100%;
    float: right;
}

.subInformation{
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-style: italic;
    font-weight: 400;
}